FIREBASE_APPCHECK_DEBUG_TOKEN=
TURN_URL=turn:openrelay.metered.ca:80
TURN_URL_UDP=turn:openrelay.metered.ca:80?transport=udp
TURN_URL_TCP=turn:openrelay.metered.ca:80?transport=tcp
TURN_URL_TLS=turns:openrelay.metered.ca:443?transport=tcp
TURN_USERNAME=openrelayproject
TURN_PASSWORD=openrelayproject